.layui-footer {
    font-size: 12px;
    text-align: center;
}

.iconfont {
    margin-right: 10px;
}

.layui-icon {
    margin: 0 15px;
}

.layui-body {
    overflow: hidden;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: aliceblue;
    user-select: none;
}

.userinfo img {
    width: 40px;
    height: 40px;

}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}

.text-avatar {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #009688;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;

}